<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://oluwafunbi.netlify.app/" class="nav-link px-2 text-muted">portfolio</a></li>
      <li class="nav-item"><a href="https://github.com/Phunbie" class="nav-link px-2 text-muted">github</a></li>
      <li class="nav-item"><a href="https://www.linkedin.com/in/oluwafunbiadeneye?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3B7LKTLdUnQEOIiLv%2FOW6PSw%3D%3D" class="nav-link px-2 text-muted">linkedIn</a></li>
      <li class="nav-item"><a href="https://huggingface.co/Funbi" class="nav-link px-2 text-muted">huggingface</a></li>
     <li class="nav-item"><a href="https://medium.com/@lekefbi" class="nav-link px-2 text-muted">medium</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Funbi, Inc</p>
  </footer>
</div>